<!-- src/app/app.component.html -->
<div class="container">
  <app-user-input (searchResult)="handleSearchResult($event)" (searchFailed)="handleSearchFailed()"></app-user-input>
  
  <!-- Display error message if search failed -->
  <div *ngIf="searchFailed" class="error-message">
    Please check the user name you have entered.
  </div>

  <div *ngIf="userProfile" class="profile">
    <img [src]="userProfile.avatar_url" alt="{{ userProfile.login }}'s avatar" class="avatar">
    <h2>{{ userProfile.login }}</h2>
    <p>{{ userProfile.bio }}</p>
    <p>{{ userProfile.location }}</p>
    <p>{{ userProfile.followers }} followers {{ userProfile.following }} following</p>
    <p><a [href]="userProfile.html_url" target="_blank">GitHub Profile</a></p>
  </div>

  <app-repo-list [repositories]="repositories" [loading]="loading" [errorMessage]="errorMessage"></app-repo-list>
</div>
